#main-container {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 750px;
  }
  
  #body {
    background-color: #000000;
    height: 150px;
    width: 1000px;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 100px;
    background-color: rgb(0, 0, 0);
  /* this is the bar on top of page */
  }
  
  body {
    background-image: url('images/back-image.png');
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    /* this covers the entire page */
  }
  
  img {
    height: 170px;
    width: 360px;
  }
  
  #flex-container {
    position: absolute;
    width: 550px;
    height: 150px;
    /* display: flex; */
    justify-content: flex-start;
    color: aliceblue;
    /* background-color: bisque; */
    left: 400px;
  }
  #nav{
    display: flex;
    flex-flow: row wrap;
    /* background-color: cadetblue; */
    justify-content: space-evenly;
  }
  
  li {
    list-style-type: none;
    color: #869b8c;
  }
  .fancy-nav {
    font-size: 35px;
    padding-right: 55px;
    padding-bottom: 19px;
    padding-left: 50px;
    /* background-color: #869b8c; */
  }
  
  h1 {
    padding-top: 175px;
    padding-left: 38px;
    font-size: 40px;
    color: azure;
  }
  
  h2 {
    padding-left: 50px;
  }
  
  .gray-nav {
    font-size: 35px;
    padding-right: 55px;
    padding-bottom: 19px;
    padding-left: 50px;
    color: white;
    /* background-color: #869b8c; */
  }


  
 #poster {
  height: 300px;
  width: 220px;
  padding-left: 25px;
 }
  
 #st-logo {
  padding-right: 150px;
  padding-left: 300px;
  position: relative;
 }

 #images-container {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  flex-direction: row;
 }

 div.scroll-container {
  background-color: #000000;
  overflow: auto;
  white-space: nowrap;
  padding: 15px;
}

div.scroll-container img {
  padding: 15px;
}

#ctlogo {
  transition-property: background-color color;
}

#ctlogo:hover {
  transition-property: background-color color;
  background-color: azure;
}

